@use "sass:color";
@use "sass:math";
@import "./variables";
// @import "./animations";


.inter {
    font-family: $inter-fontFamily;
    font-weight: 400;
}

.interBold {
    font-family: $inter-fontFamily;
    font-weight: 700;
}

.interSemiBold {
    font-family: $inter-fontFamily;
    font-weight: 600;
}

.interExtraBold {
    font-family: $inter-fontFamily;
    font-weight: 800;
}

.interBlack {
    font-family: $inter-fontFamily;
    font-weight: 900;
}

.interMedium {
    font-family: $inter-fontFamily;
    font-weight: 500;
}

.neutra {
    font-family: $neutra-fontFamily;
    font-weight: 400;
}

.neutraBold {
    font-family: $neutra-fontFamily;
    font-weight: 700;
}

.neutraSemiBold {
    font-family: $neutra-fontFamily;
    font-weight: 600;
}

.neutraLight {
    font-family: $neutra-fontFamily;
    font-weight: 300;
}

Page {
    status-bar-style: light;
    navigation-bar-color: $background-color;
    status-bar-color: $background-color;
    background-color: $background-color;
}

mdbutton {
    shape: round;
    padding: 18;
    font-weight: 600;
}

mdbutton[variant='text'] {
    shape: round;
    padding: 10;
    color: $text-color;
    ripple-color: $text-color;
    font-weight: 500;
}

mdbutton[variant='outline'] {
    shape: round;
    color: $text-color;
    border-color: $text-color;
    ripple-color: $text-color;
    margin: 10;
    font-weight: 600;
    font-size: 22;
    padding: 14 20 14 20;
    text-transform: none;
}

label,
htmllabel,
textfield,
mdbutton,
mdtextfield,
mdtextview,
canvaslabel {
    @extend .neutra;
    font-size: 18;
    color: $text-color;
}


TabViewItem {
    color: $text-color;
}

.mdi {
    font-family: $mdi-fontFamily;
}

.actionBar {
    // background-color: $primary-color;
    height: $actionbar-height;
}

.actionBarButton {
    @extend .mdi;
    width: $actionbar-height;
    height: $actionbar-height;
    font-size: 32;
    padding: 0;
    border-radius: math.div($actionbar-height, 2);
}

.playerButton {
    @extend .mdi;
    width: 70;
    height: 70;
    color: $text-color;
    ripple-color: $text-color;
    font-size: 40;
    padding: 0;
    shape: round;
    // border-radius: math.div(70, 2);
}

.actionBarTitle {
    font-size: 24;
    padding-left: 10;
    font-weight: 600;
    color: $text-color;
}

.actionBarSubtitle {
    font-size: 12;
    color: $text-color;
}

.icon-btn {
    @extend .mdi;
    color: $accent-color;
    width: $actionbar-button-height;
    height: $actionbar-button-height;
    font-size: 24;
    margin: 0;
    padding: 0;
}

.menu {
    border-radius: 4;
    margin-left: 10;
    margin-right: 10;
}

.menuIcon {
    @extend .mdi;
    text-align: center;
    font-size: 30;
    margin:0  15 0 15;
    color: $accent-color;
}

.menuText {
    color: $text-color;
    font-size: 22;
}

.menu[active="true"] {
    background-color: color.adjust($accent-color, $alpha: -0.4);
}

.menuInfos {
    padding-left: 25;
    padding-right: 25;
}

.menuInfos label {
    color: $text-color;
    font-size: 14;
    horizontal-alignment: left;
}

.menuButtons {
    padding-left: 12;
    padding-right: 12;
    margin-bottom: 10;
}

.menu-btn {
    @extend .icon-btn;
    ripple-color: #b8b7b7;
    color: $accent-color;
}

.menuButtons mdbutton {
    @extend .menu-btn;
}

.floating-btn {
    @extend .mdi;
    color: $accent-color;
    background-color: white;
    ripple-color: $dark-color;
    font-size: 30;
    width: 64;
    height: 64;
}

.small-floating-btn {
    @extend .mdi;
    color: $primary-color;
    font-size: 24;
    width: 44;
    height: 44;
}

.settings-header {
    color: $text-color;
    font-weight: 800;
    padding: 10;
    font-size: 24;
}

.settings-section-title {
    color: $text-color;
    padding: 5 0 5 0;
    font-size: 15;
}

.settings-section-desc {
    font-size: 13;
    vertical-alignment: center;
    color: $text-color;
}

.settings-section {
    padding: 10;
    border-radius: 8;
    border-bottom-color: $border-color;
    border-bottom-width: 1;

    & .settings-section-title {
        color: $text-color;
    }

    & .settings-section-desc {
        color: opacify($text-color, 0.3);
    }
}

.settings-section-holder {
    margin: 10;
}

.settings-section-button {
    vertical-alignment: center;
    padding: 20;
    color: $accent-color;
    ripple-color: $accent-color;
}

.settings-shift-button {
    @extend .mdi;
    font-size: 30;
    margin: 5;
    padding: 0;
    elevation: 0;
}