$primary-color: #E6DCCB;
$accent-color: #BA9432;
$dark-color: #ffffff;
$background-color: #E6DCCB;
$text-color: black;
$border-color: #dddddd;
$text-color-sub: #ddd;
$disabled-color: #aaa;
$actionbar-height: 56;
$actionbar-button-height: 40;
