$primary-color: #30303B;
$accent-color: #BA9432;
$dark-color: #30303B;
$background-color: #30303B;
$text-color: #fff;
$border-color: #dddddd;
$text-color-sub: #ddd;
$disabled-color: #aaa;
$actionbar-height: 56;
$actionbar-button-height: 40;
