$primary-color: #EBE3D3;
$accent-color: #D5A015;
$dark-color: #805f0d;
$background-color: #EBE3D3;
$text-color: #1F3659;
$border-color: #C3C3C0;
$text-color-sub: #636a75;
$disabled-color: #aaa;
$actionbar-height: 56;
$actionbar-button-height: 40;
