@viewedKey: '#' + [name];

#items {
    line-color: [fill];
    line-width: 2;
    polygon-opacity: [fill-opacity];
    polygon-fill: [fill];
    text-name: [name];
    text-face-name: @mont_md;
    text-placement: line;

    when ("[name]" =~ [nuti::viewed] ) {
        line-opacity: 0.3;
        polygon-opacity: 0;
    }
}
